### Project hidden files ###
hidden.yml
liquibase.properties
axon-server/

### Maven ###
.mvn/

### Compiled classes ###
target/
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
